<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nourhan's Dashboard</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
   
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
  
    <script src="path/to/fetchAndUpdateScript.js"></script>
    <script src="path/to/otherScript.js"></script>
    <script src="path/to/amcharts.js"></script>
    <script src="path/to/yourScript.js"></script>
        
    
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="/static/chart.js"></script>
    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/data.js" ></script>
    <script src="/static/chart.js" ></script>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body class="container">

    <h1>
        Amazon Sales Products Dashboard
    </h1>


      

  
    <div id="chartdiv">
    </div>
  
    <div id="chartdiv-2" >
    </div>
  
    <div id="chartdiv-3" >
    
    </div>
  
    <div id="chartdiv-4">
   
    </div> 
  
    
    <body>
        <div>
           <div class="wave"></div>
           <div class="wave"></div>
           <div class="wave"></div>
        </div>
      </body>
    
    
     
</div>
</body>
</html>
